In [2]:
import boto3
import pandas as pd
from sagemaker import get_execution_role

# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked1.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data1 = pd.read_csv(url)

# Now 'data' holds your DataFrame and you can start working with it

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/ec2-user/.config/sagemaker/config.yaml

In [3]:
data1.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-20,13:49:57.34,+++9mkCyhbuOFF5ZusNO7JGW63zMmkWVwoqOqM6D9/9rxK...,"141,71",#000000,0,64
1,2023-07-20,17:11:44.972,zvt3jLED/pa33TgiMik9XIRlZDGfg0Jmhm6kKBoSbSOEb9...,"-256,-83",#3690EA,0,88
2,2023-07-20,13:55:10.608,+++9mkCyhbuOFF5ZusNO7JGW63zMmkWVwoqOqM6D9/9rxK...,"41,-154",#000000,0,64
3,2023-07-20,18:00:08.884,zvt3jLED/pa33TgiMik9XIRlZDGfg0Jmhm6kKBoSbSOEb9...,"111,182",#FFFFFF,0,88
4,2023-07-20,14:00:17.242,+++9mkCyhbuOFF5ZusNO7JGW63zMmkWVwoqOqM6D9/9rxK...,"42,-155",#000000,0,64

In [12]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked2.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data2 = pd.read_csv(url)

In [5]:
data2.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-21,01:43:58.699,WWFrgCV+LcsgwXkOUk9GDihUjvjxmTqiLfCvLyy/akXmz2...,"470,84",#3690EA,0,34
1,2023-07-21,17:17:20.825,WbvkWH+Jl+H4Q+5AE5Jb+a73GhaHldTme9QTD/gvZqbUVe...,"983,-352",#FFFFFF,0,318
2,2023-07-21,00:47:39.181,WWG+k5O1euxsUYKXCRkcpA/IiSLbT4spkQej8ReEpQrb0b...,"-61,222",#000000,0,22
3,2023-07-21,17:22:25.183,WbvkWH+Jl+H4Q+5AE5Jb+a73GhaHldTme9QTD/gvZqbUVe...,"984,-352",#FFFFFF,0,318
4,2023-07-21,09:46:54.202,WWG+k5O1euxsUYKXCRkcpA/IiSLbT4spkQej8ReEpQrb0b...,"-6,215",#FFD635,0,22

In [17]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked3.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data3 = pd.read_csv(url)

In [7]:
data3.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-21,23:02:33.218,qRR/inqAk8A6DoZV26ueYkUFE9Sf5oaBlNYJw7EHd1H8Qm...,"673,-226",#000000,0,16
1,2023-07-21,08:55:36.791,P7ieGBxeY6OvM7upyQ8wZuANdr1t8SCWNng54e4qNbnJ/c...,"-330,-484",#000000,0,84
2,2023-07-21,02:28:42.711,qRRRpBYmMuoo0TtgpdqreoWmvGYGTIXo968d4QmgeNysQt...,"267,-286",#00A368,0,117
3,2023-07-21,09:06:04.199,P7ieGBxeY6OvM7upyQ8wZuANdr1t8SCWNng54e4qNbnJ/c...,"-82,-180",#000000,0,84
4,2023-07-21,02:37:35.344,qRRRpBYmMuoo0TtgpdqreoWmvGYGTIXo968d4QmgeNysQt...,"372,-43",#000000,0,117

In [22]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked4 (1).csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data4 = pd.read_csv(url)

In [23]:
data4.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-22,22:36:01.463,cthoa5ig610h+BPbtOxsVhjw1n+aNEgmbmifTy/BmmBpbe...,"87,163",#3690EA,0,357
1,2023-07-22,01:26:13.828,ILFbHNAvU6WLmDlVEU4VPE+CTK8HbWVswngPAxICu33vUc...,"-78,234",#51E9F4,0,92
2,2023-07-22,22:43:02.956,cthoa5ig610h+BPbtOxsVhjw1n+aNEgmbmifTy/BmmBpbe...,"280,-205",#2450A4,0,357
3,2023-07-22,01:33:56.155,ILFbHNAvU6WLmDlVEU4VPE+CTK8HbWVswngPAxICu33vUc...,"-66,233",#51E9F4,0,92
4,2023-07-22,22:48:49.832,cthoa5ig610h+BPbtOxsVhjw1n+aNEgmbmifTy/BmmBpbe...,"85,139",#3690EA,0,357

In [28]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked5 (1).csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data5 = pd.read_csv(url)

In [29]:
# Save the first row and drop it from the DataFrame
header_row = data5.iloc[0]
data5 = data5.drop(0).reset_index(drop=True)

# Set the correct column names
data5.columns = ['Date', 'Time', 'user', 'coordinate', 'pixel_color', 'isBot', 'count']

# Append the original header row as the first row in the DataFrame
data5 = pd.concat([pd.DataFrame([header_row], columns=data5.columns), data5], ignore_index=True)

In [30]:
data5 = data5.drop(data5.index[0])

In [11]:
data5.head()

,2023-07-22,00:15:38.434,RZc9bt9rb+7SXy6F7YP0FKmvlXPUCSve2J0vrOHGdEWPzXvXvNMtKXT0Q1JqoemTbbgRImblXFHEkyTVoKjaKw==,"122,169",#FFFFFF,0,103
1,2023-07-22,00:23:14.23,RZc9bt9rb+7SXy6F7YP0FKmvlXPUCSve2J0vrOHGdEWPzX...,"138,156",#FF4500,0,103
2,2023-07-22,00:35:08.259,D65F1mGFz5HyiTIY+atPwHr6sY5WUSOuw6loMniXQL7+CD...,"778,-77",#FFFFFF,0,80
3,2023-07-22,00:28:50.602,RZc9bt9rb+7SXy6F7YP0FKmvlXPUCSve2J0vrOHGdEWPzX...,"119,166",#3690EA,0,103
4,2023-07-22,00:41:49.912,D65F1mGFz5HyiTIY+atPwHr6sY5WUSOuw6loMniXQL7+CD...,"593,-98",#000000,0,80
5,2023-07-22,00:34:15.5,RZc9bt9rb+7SXy6F7YP0FKmvlXPUCSve2J0vrOHGdEWPzX...,"109,191",#FFFFFF,0,103

In [35]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked6 (1).csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data6 = pd.read_csv(url)

In [36]:
# Save the first row and drop it from the DataFrame
header_row = data6.iloc[0]
data6 = data6.drop(0).reset_index(drop=True)

# Set the correct column names
data6.columns = ['Date', 'Time', 'user', 'coordinate', 'pixel_color', 'isBot', 'count']

# Append the original header row as the first row in the DataFrame
data6 = pd.concat([pd.DataFrame([header_row], columns=data6.columns), data6], ignore_index=True)

In [37]:
data6 = data6.drop(data6.index[0])

In [72]:
data6.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
1,2023-07-23,00:14:16.546,g6t/B/fE0L/egV9GEYV3sSCFbpOs1b80o3Mvzh3z3y9FHL...,"961,92",#FF4500,0.0,260.0
2,2023-07-23,16:15:25.307,K+yAXL6cu+p1SzQq/QgyOJFlKLg94QBLmJhjwJ91rV/Xxo...,"138,168",#FF4500,0.0,29.0
3,2023-07-23,00:21:25.66,g6t/B/fE0L/egV9GEYV3sSCFbpOs1b80o3Mvzh3z3y9FHL...,"943,76",#FFFFFF,0.0,260.0
4,2023-07-23,20:58:05.503,K+yAXL6cu+p1SzQq/QgyOJFlKLg94QBLmJhjwJ91rV/Xxo...,"136,155",#FFFFFF,0.0,29.0
5,2023-07-23,00:37:35.785,g6t/B/fE0L/egV9GEYV3sSCFbpOs1b80o3Mvzh3z3y9FHL...,"203,327",#7EED56,0.0,260.0

In [42]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked7.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data7 = pd.read_csv(url)

In [21]:
data7.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-23,10:35:57.112,xY+IeqjkzVO25zAYajRnoPoq0VUc4cLvSVGVVQgJiI7RC1...,"-271,-486",#3690EA,0,19
1,2023-07-23,21:03:14.649,xMp8zjylPI2JoZoWH6i/e1dkz6iIFMCa3Jp8Mz9UBPZJYs...,"409,676",#FFFFFF,0,20
2,2023-07-23,10:51:40.455,xY+IeqjkzVO25zAYajRnoPoq0VUc4cLvSVGVVQgJiI7RC1...,"90,-664",#3690EA,0,19
3,2023-07-23,21:07:15.438,xMp8zjylPI2JoZoWH6i/e1dkz6iIFMCa3Jp8Mz9UBPZJYs...,"433,668",#FFFFFF,0,20
4,2023-07-23,11:35:23.771,xY+IeqjkzVO25zAYajRnoPoq0VUc4cLvSVGVVQgJiI7RC1...,"745,245",#898D90,0,19

In [47]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked-8.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data8 = pd.read_csv(url)

In [23]:
data8.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-24,05:44:14.363,L5xnTmukalZNG5DTo7jhRMgG7C6o5m0cNseRKmYThWHaGA...,"-326,389",#FF4500,0,92
1,2023-07-24,23:01:15.423,iv55DY0wDJaDRdanANwHE9njj8iWC19V/PpUWPMT786daj...,"-218,768",#000000,0,736
2,2023-07-24,07:21:10.922,L5xnTmukalZNG5DTo7jhRMgG7C6o5m0cNseRKmYThWHaGA...,"-256,384",#FF4500,0,92
3,2023-07-24,19:37:32.131,iv5B+yAeYCW+IqcHXBg1JVAddUFKHPpwr1U1v7jBU5EPxk...,"361,-707",#2450A4,0,46
4,2023-07-24,11:46:05.218,L5xnTmukalZNG5DTo7jhRMgG7C6o5m0cNseRKmYThWHaGA...,"-256,363",#FF4500,0,92

In [52]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked9.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data9 = pd.read_csv(url)

In [25]:
data9.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-24,04:15:47.319,xHYpet1Yy/Na+9YBRc4gfb2FsDypWrH6x660Kta9dPHh5Y...,"453,315",#FFD635,0,572
1,2023-07-24,17:04:00.879,5WKqSbuART9T6t+BSFNDsw//DSj9ni6+wGDfB7XKyRSKxz...,"-775,446",#3690EA,0,58
2,2023-07-24,04:20:57.881,xHYpet1Yy/Na+9YBRc4gfb2FsDypWrH6x660Kta9dPHh5Y...,"-1275,-112",#FFFFFF,0,572
3,2023-07-24,17:20:07.23,5WKqSbuART9T6t+BSFNDsw//DSj9ni6+wGDfB7XKyRSKxz...,"-789,477",#3690EA,0,58
4,2023-07-24,04:25:45.515,xHYpet1Yy/Na+9YBRc4gfb2FsDypWrH6x660Kta9dPHh5Y...,"-1452,-126",#FFFFFF,0,572

In [ ]:
# Correctly define your bucket name and object key
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/15-post-user-chunked10.csv'  # Path to the file within the bucket

# Get the SageMaker execution role and create an S3 client
role = get_execution_role()
s3_client = boto3.client('s3')

# Generate a presigned URL for the S3 object
url = s3_client.generate_presigned_url('get_object',
                                       Params={'Bucket': bucket_name, 'Key': object_key},
                                       ExpiresIn=3600)

# Load the CSV data into a pandas DataFrame
data10 = pd.read_csv(url)

In [27]:
data10.head()

,Date,Time,user,coordinate,pixel_color,isBot,count
0,2023-07-25,21:15:46.361,EVMCVherhAqK33Q6hKPaAWs84ZUhwI+2vYA2RKJyN0UQuS...,"977,-708",#FFFFFF,0,71
1,2023-07-25,05:35:08.456,zBsCGzz8y/NBAbd8IyXFYW3tYcnkQYd92bJlpGXUflV9hE...,"1139,-176",#BE0039,0,59
2,2023-07-25,00:38:32.694,EVMNRkgF4AXHEjKbt2I3OSBLSmYBGX+Ri9a8XB7d9JL8qH...,"-1495,917",#FFFFFF,0,355
3,2023-07-25,05:40:31.825,zBsCGzz8y/NBAbd8IyXFYW3tYcnkQYd92bJlpGXUflV9hE...,"1139,-175",#BE0039,0,59
4,2023-07-25,00:42:45.261,EVMNRkgF4AXHEjKbt2I3OSBLSmYBGX+Ri9a8XB7d9JL8qH...,"1071,-878",#D4D7D9,0,355

In [3]:
from datetime import datetime, timedelta

# Function to parse timestamp with or without milliseconds
def parse_timestamp(timestamp):
    try:
        # Try parsing with milliseconds
        dt = datetime.strptime(timestamp, '%Y-%m-%d %H:%M:%S.%f')
    except ValueError:
        # Parse without milliseconds
        dt = datetime.strptime(timestamp, '%Y-%m-%d %H:%M:%S')
    return dt

# Function to calculate time difference in seconds
def findTimeDifferenceInSeconds(timestamp1, timestamp2):
    # Parse timestamps
    dt1 = parse_timestamp(timestamp1)
    dt2 = parse_timestamp(timestamp2)

    # Calculate time difference
    time_difference = dt2 - dt1

    # Convert time difference to seconds
    return time_difference.total_seconds()

In [4]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data1 = data1.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data1['Date'] + ' ' + data1['Time'], errors='coerce') - pd.to_datetime(data1['Date'] + ' ' + data1['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data1['user'] != data1['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data1['user']).agg(list).to_dict()

In [5]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data1, based on the 'user' column
data1['isBot'] = data1['user'].map(bot_checks).astype(int)

In [6]:
# Filter data1 for rows where 'isBot' is 1
bots_data1 = data1[data1['isBot'] == 1]

In [11]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data1.csv'
bots_data1.to_csv(csv_file_name, index=False)

In [8]:
{
    "Effect": "Allow",
    "Action": "s3:PutObject",
    "Resource": "arn:aws:s3:::rplace-paddington/r-place-data/15plus_user_chunks/*"
}

{'Effect': 'Allow',
 'Action': 's3:PutObject',
 'Resource': 'arn:aws:s3:::rplace-paddington/r-place-data/15plus_user_chunks/*'}

In [13]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data2 = data2.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data2['Date'] + ' ' + data2['Time'], errors='coerce') - pd.to_datetime(data2['Date'] + ' ' + data2['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data2['user'] != data2['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data2['user']).agg(list).to_dict()

In [14]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data2['isBot'] = data2['user'].map(bot_checks).astype(int)

In [15]:
# Filter data1 for rows where 'isBot' is 1
bots_data2 = data2[data2['isBot'] == 1]

In [16]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data2.csv'
bots_data2.to_csv(csv_file_name, index=False)

In [18]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data3 = data3.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data3['Date'] + ' ' + data3['Time'], errors='coerce') - pd.to_datetime(data3['Date'] + ' ' + data3['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data3['user'] != data3['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data3['user']).agg(list).to_dict()

In [19]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data3['isBot'] = data3['user'].map(bot_checks).astype(int)

In [20]:
# Filter data1 for rows where 'isBot' is 1
bots_data3 = data3[data3['isBot'] == 1]

In [21]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data3.csv'
bots_data3.to_csv(csv_file_name, index=False)

In [24]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data4 = data4.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data4['Date'] + ' ' + data4['Time'], errors='coerce') - pd.to_datetime(data4['Date'] + ' ' + data4['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data4['user'] != data4['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data4['user']).agg(list).to_dict()

In [25]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data4['isBot'] = data4['user'].map(bot_checks).astype(int)

In [26]:
# Filter data1 for rows where 'isBot' is 1
bots_data4 = data4[data4['isBot'] == 1]

In [27]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data4.csv'
bots_data4.to_csv(csv_file_name, index=False)

In [31]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data5 = data5.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data5['Date'] + ' ' + data5['Time'], errors='coerce') - pd.to_datetime(data5['Date'] + ' ' + data5['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data5['user'] != data5['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data5['user']).agg(list).to_dict()

In [32]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data5['isBot'] = data5['user'].map(bot_checks).astype(int)

In [33]:
# Filter data1 for rows where 'isBot' is 1
bots_data5 = data5[data5['isBot'] == 1]

In [34]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data5.csv'
bots_data5.to_csv(csv_file_name, index=False)

In [38]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data6 = data6.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data6['Date'] + ' ' + data6['Time'], errors='coerce') - pd.to_datetime(data6['Date'] + ' ' + data6['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data6['user'] != data6['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data6['user']).agg(list).to_dict()

In [39]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data6['isBot'] = data6['user'].map(bot_checks).astype(int)

In [40]:
# Filter data1 for rows where 'isBot' is 1
bots_data6 = data6[data6['isBot'] == 1]

In [41]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data6.csv'
bots_data6.to_csv(csv_file_name, index=False)

In [43]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data7 = data7.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data7['Date'] + ' ' + data7['Time'], errors='coerce') - pd.to_datetime(data7['Date'] + ' ' + data7['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data7['user'] != data7['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data7['user']).agg(list).to_dict()

In [44]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data7['isBot'] = data7['user'].map(bot_checks).astype(int)

In [45]:
# Filter data1 for rows where 'isBot' is 1
bots_data7 = data7[data7['isBot'] == 1]

In [46]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data7.csv'
bots_data7.to_csv(csv_file_name, index=False)

In [48]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data8 = data8.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data8['Date'] + ' ' + data8['Time'], errors='coerce') - pd.to_datetime(data8['Date'] + ' ' + data8['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data8['user'] != data8['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data8['user']).agg(list).to_dict()

In [49]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data8['isBot'] = data8['user'].map(bot_checks).astype(int)

In [50]:
# Filter data1 for rows where 'isBot' is 1
bots_data8 = data8[data8['isBot'] == 1]

In [51]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data8.csv'
bots_data8.to_csv(csv_file_name, index=False)

In [53]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data9 = data9.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data9['Date'] + ' ' + data9['Time'], errors='coerce') - pd.to_datetime(data9['Date'] + ' ' + data9['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data9['user'] != data9['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data9['user']).agg(list).to_dict()

In [54]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data9['isBot'] = data9['user'].map(bot_checks).astype(int)

In [55]:
# Filter data1 for rows where 'isBot' is 1
bots_data9 = data9[data9['isBot'] == 1]

In [56]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data9.csv'
bots_data9.to_csv(csv_file_name, index=False)

In [ ]:
# Assuming your DataFrame is sorted by user and datetime, if not, you should sort it first.
data10 = data10.sort_values(by=['user', 'Date', 'Time'])

# Calculate time differences using vectorized operations
time_diffs = pd.to_datetime(data10['Date'] + ' ' + data10['Time'], errors='coerce') - pd.to_datetime(data10['Date'] + ' ' + data10['Time'], errors='coerce').shift(1)

# Filter out time differences where user changes
user_changes = data10['user'] != data10['user'].shift(1)
time_diffs[user_changes] = pd.NaT

# Convert time differences to seconds
time_diff_seconds = time_diffs.dt.total_seconds().astype(float)

# Group by user and accumulate time differences
user_time_diffs = time_diff_seconds.groupby(data10['user']).agg(list).to_dict()

In [ ]:
import numpy as np
import pandas as pd

# Assuming data1 is your DataFrame and has a 'user' column
# Assuming user_time_diffs is a dictionary with user IDs as keys and lists of time differences as values

# Function to check for bots, which remains the same since it's already using efficient numpy operations
def check_for_bots(time_diffs):
    time_diff_deltas = np.abs(np.diff(time_diffs))
    return np.any(time_diff_deltas <= 0.5)

# Create a Series to hold bot check results for each user in user_time_diffs
bot_checks = pd.Series({user: check_for_bots(time_diffs) for user, time_diffs in user_time_diffs.items()})

# Map the bot check results back to the 'isBot' column in data2, based on the 'user' column
# Replace NaN values with 0 and convert to integer
data10['isBot'] = data10['user'].map(bot_checks).astype(int)

In [ ]:
# Filter data1 for rows where 'isBot' is 1
bots_data10 = data10[data10['isBot'] == 1]

In [ ]:
# Save the DataFrame to a CSV file in the current working directory
csv_file_name = 'bots_data10.csv'
bots_data10.to_csv(csv_file_name, index=False)

In [ ]:
# List of your DataFrames
dataframes = [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10]

# Filter each DataFrame for 'isBot' == 1 and concatenate them
bot_data = pd.concat([df[df['isBot'] == 1] for df in dataframes], ignore_index=True)

In [ ]:
# Save the DataFrame to a CSV file locally
csv_file_path = 'bots_data.csv'
bot_data.to_csv(csv_file_path, index=False)

# Upload the file to S3
s3_client = boto3.client('s3')
bucket_name = 'rplace-paddington'  # Just the bucket name
object_key = 'r-place-data/15plus_user_chunks/bots_data.csv'

s3_client.upload_file(csv_file_path, bucket_name, object_key)